<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LFImagePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABB34BD61BB3D17A00C290A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABB34BEF1BB3D17B00C290A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABB34BFA1BB3D17B00C290A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
